<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd">

	<bean id="foo1" class="com.wiley.beginningspring.ch2.Foo">
		<property name="name" value="foo1"/>
	</bean>
	
	<bean id="foo2" class="com.wiley.beginningspring.ch2.Foo">
		<constructor-arg value="foo2"/>
	</bean>
	
	<bean id="foo3" class="com.wiley.beginningspring.ch2.FooFactory" factory-method="createFoo3"/>
	
	<bean id="fooFactory" class="com.wiley.beginningspring.ch2.FooFactory"/>
	
	<bean id="foo4" factory-bean="fooFactory" factory-method="createFoo4"/>
	
	<context:component-scan base-package="com.wiley.beginningspring.ch2"/>
	
	<bean id="foo5" class="com.wiley.beginningspring.ch2.FooFactoryBean"/>

</beans>
